body {
    margin: 0; 
}
* {
    font-family: 'roboto',sans-serif;
    
    padding: 0;
}
a {
      text-decoration: none;
      color: black;        
}

a:hover{
    font-weight: bold;
}

.navbar{
    background-color:#f5eadc;
    color: black;
    height: 100px;
    border-bottom: 3px #e74c3c solid;
}
.container{
    width: 95%;
    height: 100px;
    margin: auto;
}
.navbar img {
    float: left;
    margin-top: 30px;
}
.navbar ul{
    float: right;
    text-transform: uppercase;
}
.navbar  li{
    float: left;
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;
    text-transform: uppercase ;
    
    
}
.navbar h1 span{
    color: white;
}
.current { 
    color: #e74c3c;
    font-weight: bold;
}

/*Inicio primeiro banner*/
.banner {
    height: 420px;
    background: url(../Imagens/fund-banner.png) #f5eadc no-repeat;
    background-size: 100% 100%;
    border-bottom: solid #e74c3c 3px;
}

.container_banner{
    width: 95%;
    margin: auto;
    color: #e74c3c;
}

.conteudo_banner1{
    width: 38%;
}

.banner h1{
    margin: 0px;
    font-size: 33px;
    padding: 70px 0px;
    text-align: center;
}

.banner p{
    margin: 0;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}
/*fim primeiro banner*/


/*Inicio segundo banner*/
.fundo_conteudo{
    background-size: cover;
    margin: 0px 0px;
    background-color: #ebe6e0;
    height: 380px;
}


.banner_importancia{
    height: 380px;
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex
}

.conteudo2{
    font-size: 25px;
    color: #141313;
    text-align: center;
    display: flex;
    border-right: 5px solid orangered;
}
/*fim segundo banner*/


.secao{
    width: 100%;
    height: 400px;
    background: #ebe6e0;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.container_secao{
    width: 95%;
    height: 350px;
    margin-top: 20px;
}

.sec_sistema{
    height: 85%;
    width: 100%;
    margin: 25px 20px;
    display: flex;
    align-items: center;
    border-left: 3px solid orangered;
    border-top: 3px solid orangered;
    border-top-left-radius: 80px;
}

.container_secao img{
    width: 205px;
}

.sec_sistema p{
    font-size: 25px;
    text-align: left;
}