body {
    margin: 0; 
    height: 100vh;
}
* {
    font-family: 'roboto',sans-serif;
    
    padding: 0;
}
a {
      text-decoration: none;
      color: black;        
}

a:hover{
    font-weight: bold;
}

.navbar{
    background-color:#f5eadc;
    color: black;
    height: 100px;
    border-bottom: 3px #e74c3c solid;
}
.container{
    width: 95%;
    height: 100px;
    margin: auto;
}
.navbar img {
    float: left;
    margin-top: 30px;
}
.navbar ul{
    float: right;
    text-transform: uppercase;
}
.navbar  li{
    float: left;
    list-style: none;
    margin-left: 80px;
    margin-top: 20px;
    text-transform: uppercase ;
    
    
}
.navbar h1 span{
    color: white;
}
.current { 
    color: #e74c3c;
    font-weight: bold;
}

/*Inicio primeiro banner*/
.banner {
    height: 420px;
    background: url(../Imagens/fund-banner.png) #e9e7e0 no-repeat;
    background-size: 80% 100%;
    border-bottom: solid #e74c3c 3px;
    background-position-x: 100%;
}

.container_banner{
    width: 95%;
    margin: auto;
    color: #e74c3c;
}

.conteudo_banner1{
    width: 38%;
}

.banner h1{
    margin: 0px;
    font-size: 33px;
    padding: 70px 0px;
    text-align: center;
}

.banner p{
    margin: 0;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
}
/*fim primeiro banner*/


/*Inicio segundo banner*/
.fundo_conteudo{
    background-size: cover;
    margin: 0px 0px;
    background-color: #ebe6e0;
    height: 380px;
}


.banner_importancia{
    height: 380px;
    width: 80%;
    margin: auto;
    align-items: center;
    display: flex
}

.banner_importancia .tit_2 {
    color: #e74c3c;
    font-size: 33px;
    text-align: center;
    margin-right: 50px;
}

.banner_importancia .cont_2 {
    text-align: center;
    font-size: 20px;
    margin-left: 50px;
    border-right: solid orangered 3px;
    padding-right: 10px;
}
/*fim segundo banner*/


.secao{
    width: 100%;
    height: 400px;
    background: #ebe6e0;
    display: flex;
    justify-content: center;
    padding-top: 10px;

}

.container_secao{
    width: 95%;
    height: 350px;
    margin-top: 20px;
}

.sec_sistema{
    height: 85%;
    width: 100%;
    margin: 25px 20px;
    display: flex;
    align-items: center;
    border-left: 3px solid orangered;
    border-top: 3px solid orangered;
    border-top-left-radius: 80px;
}

.container_secao img{
    width: 205px;
}

.sec_sistema p{
    font-size: 25px;
    text-align: left;
}

.secao_dif{
    width: 100%;
    height: 800px;
    background: #ebe6e0;
    display:flex;
   
justify-content: center;
}

.container_dif{
    width: 90%;
    height: 90%;

    margin-top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container_dif img{
    width: 205px;
}

.p_diferenciais {
    text-align: center;
    font-size: 25px;
    width: 900px;
    border-bottom: 3px solid #e74c3c;
    padding-bottom: 30px;
    margin: 0;
}

.diferenciais{
    font-size: 50px;
    color: #e74c3c;
}
 .beneficios{
     font-size: 34px;
     color:  #e74c3c;
 }
 .time {
    width: 205px;
    border: solid 3px #e74c3c;
    border-radius: 36px;
    margin: 0 10px;
}
.monitor{
    display: flex;
}

.desc {
    text-align: center;
}

.banner_calc{
    background: url(../Imagens/bannercalc.png) fixed;
    width: 100%;
    height: 950px;
}

.container_calc {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.estilo{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: -60px;
    align-items: center;

}

.texto {
    text-align: center;
}

.input {
    border-radius: 14px;
    font-size: 30px;
    background: #ff543d;
    color: white;
    border: none;
    padding: 15px;
    margin: 10px 0;
}

.botao {
    border-radius: 14px;
    font-size: 34px;
    background: #ff543d;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

#resultado {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}