.navbar{
    color: #000;
    border-right: 3px solid #ff4500;
    width: 250px;
    height: 95vh;
    float: left;
}

.container_navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_navbar img {
    margin-top: 25px;
}

.navbar ul{
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}

.navbar li {
    list-style: none;
    margin-top: 60px;
    cursor: pointer;
}

.container_navbar li:hover{
    color: #ff4400;
}

.grafico{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 110px 0px 0 55px;
}

.slc_camaras{
    width: 150px;
    font-size: 25px;
    border: solid darkgrey 2px;
}